
.conversations {
    color: brown;
}

.c {
    color: darkgreen;
}

.headings {
    color: aqua;
    font-size: 2em;
    display: flex;
}

.button {
    color: darkcyan;
    background: #81ecec;
    box-shadow: 0 2px 5px #ccc;
    display : flex;
}
