.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  text-decoration: none;
  margin-bottom: 15px;
  padding: 5px 15px 5px 15px;
  background-color: #aee7f7;
  color: rgb(83, 83, 83);
  border-radius: 20px;
}


.App.light{
  background-color: white;
  color: black;
}

.App.dark{
  background-color: black;
  color: white;
}


.App.light .App-link{

  color: #61dafb;
  text-decoration: none;
  margin-bottom: 15px;
  padding: 5px 15px 5px 15px;
  background-color: #aee7f7;
  color: #000000;
  border-radius: 20px;

}

.App.dark .App-link{
  color: #61dafb;
  text-decoration: none;
  margin-bottom: 15px;
  padding: 5px 15px 5px 15px;
  background-color: #aee7f7;
  color: #000000;
  border-radius: 20px;
}

.App.light .App-link:hover{
  background-color: #61dafb;
}

.App.dark .App-link:hover{

  background-color: #61dafb;
}

.App-title{
  font-size: 40px;
  font-weight: bold;
}

.App-img{
  width: 300px;
}

.btn-toggle{
  position: fixed;
  top: 20px;
  right: 25px;
  width: 50px;
  height: 50px;
  background-color: black;
  border: 1px solid black;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-toggle.goLight{
  background: white;
  color: black;
}

.btn-toggle.goDark{
  background: black;
  color: white;
}